<div th:fragment="carousel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 50px">
			<div class="carousel-inner text-center" role="listbox">
				<div th:each="carouselPic, iterStat:${carouselPics}" th:class="(${iterStat.index}==0)?'item active':'item'">
					<a th:href="@{/play(v=${carouselPic.value})}">
						<img th:src="${carouselPic.image}" alt="" />
					</a>
				</div>
			</div>
			<!--圆形队列 -->
			<ol class="carousel-indicators">
				<li th:each="carouselPic, iterStat:${carouselPics}" data-target="#myCarousel" th:data-slide-to="${iterStat.index}" th:class="(${iterStat.index}==0)?'active':''"></li>
			</ol>
			<!--前驱 -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" ></span>
				<span class="sr-only">Previous</span>
			</a>

			<!--后继 -->
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" ></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
</div>
