<div th:fragment="tv">
	<div class="row">
		<div class="col-md-9">

			<div class="row">
				<div class="bs-callout bs-callout-danger">
					<h4 style="display: inline-block">电视剧</h4>
					<button type="button" class="btn btn-danger pull-right refresh" value="8">
						<span class="glyphicon glyphicon-refresh"></span> 换一批
					</button>
				</div>			
			</div>

			<div class="row videoBox">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6 videoItem" th:each="tvHot, iterStat:${tvHots}">
							<a th:href="@{/play(v=${tvHot.value})}" th:if="${iterStat.index} < 8" class="videoUrl">
								<img th:src="${tvHot.image}" class="img-responsive img-thumbnail videoImage" />
								<div class="caption">
									<p class="text-left videoTitle" th:text="${tvHot.title}"></p>
								</div>
							</a>
							<div th:if="${iterStat.index} >= 8" hidden>
								<ul class="videoImage">[[${tvHot.image}]]</ul>
								<ul class="videoTitle">[[${tvHot.title}]]</ul>
								<a th:href="@{/play(v=${tvHot.value})}" class="videoUrl" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 hidden-sm hidden-xs">
			<div class="top">
				<h3><span class="glyphicon glyphicon-play-circle"></span>排行榜</h3>
			</div>
			<div class="list-group" style="padding-top: 50px;">
				<a th:each="tvTop:${tvTops}" th:href="@{/play(v=${tvTop.value})}" class="list-group-item" th:text="${tvTop.title}"></a>
			</div>
		</div>
	<div>
</div>
