<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="  
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
   	http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
    "> 
	<!--扫描ctrls包--> 
	<context:component-scan base-package="com.sprint.ctrls" />

	<bean class="com.sprint.service.UserService" />
	<!--配置HandlerMapping-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
	</bean>
	
	<!--配置HandlerAdapter-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
				<ref bean="stringHttpMessageConverter" />
		</property>				
	</bean>	

	<bean id="stringHttpMessageConverter" 
					class="org.springframework.http.converter.StringHttpMessageConverter" />

	<!--配置ViewResolver-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	

	<!--注册HandlerInterceptorBean-->
	<bean id="handlerInterceptor1" class="com.sprint.interceptor.HandlerInterceptor1" />
	<bean id="handlerInterceptor2" class="com.sprint.interceptor.HandlerInterceptor2" />
	<bean id="handlerInterceptor3" class="com.sprint.interceptor.HandlerInterceptor3" />
	<bean id="handlerInterceptor4" class="com.sprint.interceptor.HandlerInterceptor4" />
	<bean id="stopWatchHandlerInterceptor" class="com.sprint.interceptor.StopWatchHandlerInterceptor" />
	<bean id="loginHandlerInterceptor" class="com.sprint.interceptor.LoginHandlerInterceptor">
		<property name="loginUrl" value="/login"></property>
	</bean>
</beans> 
