<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:contextLoaderListener.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>springmvc-gradle-xml</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc-gradle-xml</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--处理post造成的乱码问题-->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MyFilter1</filter-name>
		<filter-class>com.sprint.filter.MyFilter1</filter-class>
		<init-param>
			<param-name>pname</param-name>
			<param-value>pValue</param-value>
			
		</init-param>
		<init-param>
			<param-name>xxx</param-name>
			<param-value>ssss</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>MyFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MyFilter2</filter-name>
		<filter-class>com.sprint.filter.MyFilter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app> 
